/* nav {
    width: 100% auto;
    height: 20%;
    background-color: black;
} */
.logo-img {
    width: 150px;
}

* {
   box-sizing: border-box;
   /* color: white; */
  }

body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #000000;
  /* overflow: hidden; */
}

.background {
  z-index: -1;
  position: absolute;
  top: 0%;
  opacity: 0.4;
}

.header {
  overflow: hidden;
  background-color: transparent;
  padding: 20px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: #f41213;
}

a.logo:hover {
  background-color: black;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }
}

.content {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-container {
  padding: 50px;
}

.location {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(6, minmax(100px, 1fr));
}

.location a {
  transition: transform .3s;  
}

.location a:hover {
  transition: transform .3s;
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);  
  transform: scale(1.1);
}

.location img {
  border-radius: 2px;
  width: 289px;
}

.txt {
  color: white;
  width: 20%;
  background-color: grey;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.txthome {
  color: white;
}

/* .box {
  display: flex;
  flex-direction: row;
} */

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

hr {
  margin: auto;
  width: 40%;
  color: white;
}

.title {
    text-align: center;
    text-transform: uppercase;
    font-size: 50px;
    color: rgb(221, 124, 124);
}

/* iframe {
  position: absolute;
  float: left;
  top: 31%;
  left: 6%;
} */

/* .desc { */
  /* position: relative;
  width: 500px;
  float: right;
  right: 7%;
  top: 31%; */
  /* color: rgb(218, 209, 209);
}

.year {
  color: white;
} */

.flexcont {
  display: flex;
}

.flexcont > div {
  margin: 20px;
  padding: 50px;
  color: white;
}